.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    h3{
        padding: 20px;
    }
    .cart-main-buttons {
        display: flex;
        justify-content: space-between;
        width: 50%;
        button{
            width: 200px;
            height: 50px;
            }
        }
}

.empty-cart{
    padding: 30px;
    text-align: center;
    button{
        margin: 40px;
    }
}