.cart-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        z-index: 1;
    }
    .img-carrito {
        width: 40px;
    }
    .cart-num{
        color: #4c7cf4;
    }
}
.cart-div:hover{
    .cart-num{
        font-size: 85%;
        transform: translateY(140%);
        transition: 300ms;
    } 
    justify-content:center;
}